.tile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tile-group {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/* ----- tiles ----*/
.YT-post-tile{
  margin: 0 5px 10px 5px;
  border-radius: 10px;
  padding: 2em;
  border: 1px solid #ccc;
  display: block;
  color: black;
  box-shadow: rgba(149, 157, 165, .3) 0px 8px 24px;
  height: 550px;
  width: 315px;

}

.TW-post-tile{
  background-color: lightgray;
  margin: 0 35% 2% 35%;
  padding: 2% 2%;
  border-radius: 5px;
}

.TW-icon {
  margin-left: 1%;
  float: right;
  color: #1DA1F2;
}

.YT-icon {
  margin-left: 1%;
  float: right;
  color: #FF0000;
}

.YT-img {
  margin: 0 auto 0 auto;
  width: 275px;
  height: 250px;
  object-fit: contain;
}

.tile-img {

  grid-column: 1 / 7;
  grid-row: 1;
}

.prefix, .title, .youtube-author, .youtube-body {
  font-family: 'Montserrat:wght@100', sans-serif;
}

.title {
  margin-bottom: 2%;
}

.tile-content {
  grid-column: 1 / 7;
  grid-row: 2;
}

.timestamp {
  float: right;
}

.prefix {
  margin-right: 0.5%;
}

/* ----- modal ----- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}
