body {
  margin: 0;
  height: 100%;
}

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 250px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
  background-color:#F5F5F5;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url('https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  background: white;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight:100;
  font-family: 'Roboto', sans-serif;
}

.body {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 575px;
  height: 700px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-radius: 15px;

  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}


.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  border: solid #2193cc;
  background: white;

}

.center {
  align-items: center;
  text-align: center;
  margin: 1.5%;
  background: white;

}

.btn-center {
  align-items: center;
  text-align: center;
  margin: 0.6% 1.5% 1.5%;
}

.wordsSmoll {
  font-size: x-large;
  background: white;
}

.loginSubHead {
  font-size: large;
  background: white;
}

.wordsBig {
  font-size: 5em;
  margin-bottom: 4%;
  width: 100%;
  background: white;
}

.landing-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin: 0;
  padding-bottom: 110px;
  background: rgb(33,147,204);
  background: radial-gradient(circle, rgba(33,147,204,1) 0%, rgba(255,255,255,1) 13%, rgba(33,147,204,1) 100%);
}

.logohold {
  background: white;
}