body {
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}

/*
app.jsx
*/

.mainContainer {
  background-color: #F3F2F3;

}

/*
Analytics - Start
*/

.analytics-head {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.dashboard-main {
  width: 70%;
  display:flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-main-row-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-main-row-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-row-two-last {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  min-width: 375px;
}

.card-content {
  margin-left: 13px;
}

.card-header {
  margin: 0px;
}

.card-data {
  margin: 0px;
}

.chart-header {
  text-align: center;
}

/* .icon {
  width: 100px;
} */

.sidebar-main {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  text-decoration: none;
  padding: 5% 2% 0 2%;
  box-shadow: rgba(149, 157, 165, .3) 0px 8px 24px;
}

.inline-row {
  display: flex;
  flex-direction: row;
}

.outline {
  box-shadow: 3px 3px 5px black;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  width: 375px;
}

.split {
  justify-content: space-around;
}

.equalVertical {
  align-items: center;
  margin: 0 5px;
}

.dashBoardOption {
  text-decoration: none;
  color: #6C6B6C;
  padding: 7px 40px 7px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.dashBoardOption:hover {
 color: #379FFF;
}

.currentOption {
  background-color: #379FFF;
  color: #FFFEFF;
}

.currentOption:hover {
  color: #FFFEFF;
}

/*
Analytics - End
*/
