body {
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}

/*
app.jsx
*/

.mainContainer {
  background-color: #F3F2F3;

}

/*
Analytics - Start
*/

.analytics-head {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.dashboard-main {
  margin-left: 30px;
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  text-decoration: none;
  padding: 5% 2% 0 2%;
  box-shadow: rgba(149, 157, 165, .3) 0px 8px 24px;
}

.inline-row {
  display: flex;
  flex-direction: row;
}

.outline {
  border: 3px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

.split {
  justify-content: space-around;
}

.equalVertical {
  align-items: center;
  margin: 0 5px;
}

.dashBoardOption {
  text-decoration: none;
  color: #6C6B6C;
  padding: 7px 40px 7px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.dashBoardOption:hover {
 color: #379FFF;
}

.currentOption {
  background-color: #379FFF;
  color: #FFFEFF;
}

.currentOption:hover {
  color: #FFFEFF;
}

/*
Analytics - End
*/
