* {
  font-family: 'Montserrat', sans-serif;
}

/*
app.jsx
*/

.mainContainer {
  background-color: #F3F2F3;

}

/*
Analytics - Start
*/

.analytics-head {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.dashboard-main {
  margin-left: 30px;
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #2193CC;
}

.inline-row {
  display: flex;
  flex-direction: row;
}

.outline {
  border: 3px solid black;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
}

.split {
  justify-content: space-around;
}

.equalVertical {
  align-items: center;
  margin: 0 5px;
}

/*
Analytics - End
*/
